html {
  background-color: #bbb;
  font-family: Poiret One;
  color: #22a;
}
#banner {
  font-size: 50px;
  margin-top: 75px;
  margin-bottom: 50px;
}
#instructions {
  font-size: 20px;
}
#instructions,
#examples {
  margin-bottom: 25px;
}
