html
    link(rel='stylesheet', href='/css/response.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poiret One',type="text/css")
    p The date you entered is:
    p#date #{date}
